@use "variables" as v;

.caroussel {
  background-color: v.$color-gpastel;
  padding: 2rem;
  margin-bottom: 1rem;
  .contenair-carousel {
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 1rem;

    .titleCreator-carousel {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      align-items: center;
    }

    .creator-carousel {
      text-decoration: underline;
    }

    .project-body-carousel {
      padding: 1rem;
    }
  }

  .project-carousel {
    #project-img {
      width: 100%;
    }
  }

  #carousel-description {
    background-color: white;
  }


}

.slick-dots {
  gap: 3rem;
  li {
    display: flex;
    justify-content: center;
    width: fit-content !important;
    button{
      opacity: 1 !important;
    }
    button::after {
      height: 20px;
      width: 20px;
      border-radius: 100%;
      background-color: v.$color-green;
      box-shadow: 0px 2px v.$color-green-dark;
      transition: background-color 200ms, box-shadow 200ms
    }
    
    &.slick-active button::after {
      translate: 0 2px;
      background-color: v.$primary-color ;
      box-shadow: inset 0px 3px rgba(0, 0, 0, 0.5),
    }
    
    // button:hover::after{
    //   background-color: v.$color-green ;
    //   box-shadow: 0px 2px v.$color-green,
    //   inset 0px 3px v.$color-gpastel;
    // }
    button:active::after{
      translate: 0 2px;
      background-color: v.$color-green ;
      box-shadow: inset 0px 3px v.$color-green-dark,
      0px 2px v.$color-green;
    }


  }
}

@media (min-width: v.$sm-breakpoint) {
  .caroussel{
    margin-bottom: 0;
  }
  .contenair-carousel {
    display: flex;

    .container-carousel-img {
      flex: 1.3;
    }

    .container-carousel-body {
      flex: 0.7;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .titleCreator-carousel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        padding-top: 1rem;
        align-items: center;
        
      }

      .creator-carousel {
        text-decoration: underline;
      }
      .project-body-between{
        display: flex;
        justify-content: space-between;
        height: 75%;
        .project-body-carousel {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .description{
            font-size: large;
            text-align: center;
            padding-top: 2rem;
          }
          .progress {
            display: flex;
            justify-content: flex-end;
            
          }
        }
      }
    }
  }
}