@use "reset";
@use "variables" as v;
 
// Code Sass pour le hero et les stats 
.hero {
  display: flex;
  justify-content: center;
  height: fit-content;
  // background-image: url("../img/germe.png");
  background-image: url("https://images.unsplash.com/photo-1623212035189-386c459dd983?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
 

  .hero-image {
    padding: 5rem 0;
    backdrop-filter: blur(2px);
    background-color: rgba(31, 31, 31, 0.3);
    flex: 1;
  }
  @media (max-width: v.$sm-breakpoint){
    .hero-image {
      width: 100%;
    }
  }
  .hero-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    gap: 2rem;
    #slogan{
      width: 50rem;
      img{
        width: 100%;
      }
    }
    text-align: center;
    color: white;

    .hero-stat{
      p{
        font-size: 4rem;
        font-weight: bold;
        text-shadow: 2px 2px 0px white;
      }
    }
    #home-ProjectsClose {
      color: v.$color-orange;
    }
    #home-ProjetsEnCours{
      color: v.$color-gpastel;
    }
    #home-NumberSub{
      color: v.$color-green;
    }

  }
  .hero-slogan {
    font-size: 2em;
    margin-bottom: 20px;
  } 
}

.home{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero-stats{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h3 {
    font-size: 1.5em;
  }
}

.hidden-sm{
  display: none;
}

#home-button{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  background-color: v.$color-green;
  width: fit-content;
  color: white;
}

.flex{
  display: flex;
}
.search{
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.project{
  img{
  width: 100%;
  height: 100%;
}
}
.title-project{
  text-shadow: 5px 1px 0 v.$color-green;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: v.$color-green;
  color: rgb(255, 255, 255);
}
.title-coeur{
  text-shadow: 0 3px 0 v.$color-orange;
  color: white;
}
.projectsList{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.396);
  position: relative;
  border-radius: 1rem;
  transition: all 500ms;
  &:hover{
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.575);
  }
  &:hover .project-img img{
    transform: scale(1.05);
  }
  .container{
    flex: 1;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .icon{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 100%;
    z-index: 1;
    top: 2rem;
    left: 2rem;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.396);
    transition: all 200ms;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
    &:active{
      transform: scale(1);
    }
  }
  .nut{
    background-color:  v.$color-green-dark;
  }
  .plant{
    background-color:  v.$color-green;
  }
  .tree{
    background-color:  v.$primary-color;
  }
  .project-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .project-title:hover{
      cursor: pointer;
    }
    .project-creator{
      width: 100%;     
      display: flex;
      justify-content: flex-end;
      div{
        display: flex;
        gap: 0.5rem;
        p, .user-icon{
          width: fit-content;
          text-decoration: underline;
          color: #8C8C8C;
          transition: all 200ms;
        }
        &:hover p, &:hover .user-icon{
          color: v.$color-green-dark;
          text-decoration-color: v.$color-green-dark;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    .description{
      margin-top: 1rem;
    }
  }
  .project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 40%;
    img{
      transition: all 500ms;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:hover{
      cursor: pointer;
    }
  }

  .bottom-row{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }
}

.languagesList-3{
  display: grid;
  grid-template-columns:  repeat(10, 1fr);
  gap: 0.7rem 1rem;
  .language{
    flex: 0.10;
  }
}

.carousel{
  background-color: v.$color-gpastel;
}

@media (min-width: v.$sm-breakpoint){
  .home{
    gap: 0;
  }
  .home section:not(:first-child){
    padding: 2rem;
  }
  .hidden-sm{
    display: block;
  }

  .hidden-md{
    display: none;
  }

  .hero-stats {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hero-stat {
    margin: 0 15px; 
  }
  
  .projectsList{
    display: grid;
    padding: 4rem;
    grid-template-columns:  repeat(2, 1fr);
    gap: 4rem;
    width: fit-content;
    .project{
      width: 100%;
      .img{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
    .icon{
      top: -1.5rem;
      left: -1.5rem;
    }
  }
  .languagesList-3{
    grid-template-columns:  repeat(6, 1fr);
  }
}


@media (min-width: v.$lg-breakpoint){
  .projectsList{
    grid-template-columns:  repeat(4, 1fr);
    .languagesList-3{
      grid-template-columns:  repeat(4, 1fr);
    }
  }
}

@media (min-width: v.$xl-breakpoint){
  .projectsList{
    grid-template-columns:  repeat(5, 1fr);
    .languagesList-3{
      grid-template-columns:  repeat(5, 1fr);
    }
  }
}

