@use "reset";
@use "variables" as v;
 
// Code Sass pour le hero et les stats 
.hero {
  display: flex;
  justify-content: center;
  height: fit-content;
  // background-image: url("../img/germe.png");
  background-image: url("https://images.unsplash.com/photo-1623212035189-386c459dd983?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
 

  .hero-image {
    padding: 5rem 0;
    backdrop-filter: blur(2px);
    background-color: rgba(31, 31, 31, 0.3);
    flex: 1;
  }
  @media (max-width: v.$sm-breakpoint){
    .hero-image {
      width: 100%;
    }
  }
  .hero-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    gap: 2rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    
    #slogan{
      width: 50rem;
      img{
        width: 100%;
      }
    }
    text-align: center;
    color: white;

    .hero-stat{
      p{
       
        font-size: 4rem;
        font-weight: bold;
        text-shadow: 2px 2px 0px white;
      }
    }
    #home-ProjectsClose {
      text-shadow: 0.5px 0px v.$primary-color,
  1px 0.5px v.$primary-color,
  1.5px 1px v.$primary-color,
  2px 1.5px v.$primary-color,
  2.5px 2px v.$primary-color,
  3px 2.5px v.$primary-color,
  0px 0.5px v.$primary-color,
  0.5px 1px v.$primary-color,
  1px 1.5px v.$primary-color,
  1.5px 2px v.$primary-color,
  2px 2.5px v.$primary-color,
  2.5px 3px v.$primary-color,
  3px 3px v.$primary-color,
    }
    #home-ProjetsEnCours{
      text-shadow: 0.5px 0px v.$color-green,
      1px 0.5px v.$color-green,
      1.5px 1px v.$color-green,
      2px 1.5px v.$color-green,
      2.5px 2px v.$color-green,
      3px 2.5px v.$color-green,
      0px 0.5px v.$color-green,
      0.5px 1px v.$color-green,
      1px 1.5px v.$color-green,
      1.5px 2px v.$color-green,
      2px 2.5px v.$color-green,
      2.5px 3px v.$color-green,
      3px 3px v.$color-green,
    }
    #home-NumberSub{
      text-shadow: 0.5px 0px v.$color-green-dark,
      1px 0.5px v.$color-green-dark,
      1.5px 1px v.$color-green-dark,
      2px 1.5px v.$color-green-dark,
      2.5px 2px v.$color-green-dark,
      3px 2.5px v.$color-green-dark,
      0px 0.5px v.$color-green-dark,
      0.5px 1px v.$color-green-dark,
      1px 1.5px v.$color-green-dark,
      1.5px 2px v.$color-green-dark,
      2px 2.5px v.$color-green-dark,
      2.5px 3px v.$color-green-dark,
      3px 3px v.$color-green-dark,
     

   
    }

  }
  .hero-slogan {
    font-size: 2em;
    margin-bottom: 20px;
  } 
}



.home{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero-stats{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h3 {
    font-size: 1.5em;
  }
}

.hidden-sm{
  display: none;
}


.flex{
  display: flex;
  gap: 1rem;
}
.search{
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.title-project{
  text-shadow: 5px 1px 0 v.$color-green;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: v.$color-green;
  color: rgb(255, 255, 255);
}
.title-coeur{
  text-shadow: 0 3px 0 v.$color-orange;
  color: white;
}
.projectsList{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


.languagesList-3{
  display: grid;
  grid-template-columns:  repeat(10, 1fr);
  gap: 0.7rem 1rem;
  .language{
    flex: 0.10;
  }
}

.carousel{
  background-color: v.$color-gpastel;
}

@media (min-width: v.$sm-breakpoint){
  .home{
    gap: 0;
  }
  .home section:not(:first-child){
    padding: 2rem;
  }
  .hidden-sm{
    display: block;
  }

  .hidden-md{
    display: none;
  }

  .hero-stats {
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hero-stat {
    margin: 0 15px; 
  }
  
  .projectsList{
    display: grid;
    padding: 4rem;
    grid-template-columns:  repeat(2, 1fr);
    gap: 4rem;
    width: fit-content;
  }
  .languagesList-3{
    grid-template-columns:  repeat(6, 1fr);
  }
}


@media (min-width: v.$lg-breakpoint){
  .hero-stats {
    gap: 10rem;
  }
  .projectsList{
    grid-template-columns:  repeat(4, 1fr);
    .languagesList-3{
      grid-template-columns:  repeat(4, 1fr);
    }
  }
}

@media (min-width: v.$xl-breakpoint){
  .projectsList{
    grid-template-columns:  repeat(5, 1fr);
    .languagesList-3{
      grid-template-columns:  repeat(5, 1fr);
    }
  }
}

