@use "reset";
@use "variables" as v;

.ant-modal-content{
    width: 100%;
}

.languagesList-1{
    display: grid;
    grid-template-columns: min-content repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}

.languagesList-2{
    display: grid;
    grid-template-columns: min-content auto repeat(15, 1fr);
    gap: 1rem;
    width: fit-content;
    .checkbox{
        &:has(input:checked) .img{
            background-color: white;
        }
    }
}

.language{
    flex: 1;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img{
        width: 100%;
    }
    p {
        color: black;
    }
    .img{
        width: fit-content;
    }
}

.checkbox{
    caret-color: transparent;
    cursor: pointer;
    .img{
        padding: 1rem;
        margin: 0 1rem;
        border-radius: 5rem;
        height: 6rem;
        overflow: hidden;
        transition: all 100ms;
    }
    img{
        height: 100%;
        opacity: 0.5;
    }
    p {
        text-transform: none;
        transition: all 100ms;
        cursor: pointer;
    }
    input{
        display: none;
    }
    &:hover img{
        opacity: 1;
    }
    &:active .img{
        transform: scale(0.9);
    }
    &:has(input:checked) .img{
        background-color: v.$orange-light;
        img{
            opacity: 1;
            filter: drop-shadow(0px 0px 2px #0000004f);
        }
    }
    &:has(input:checked) p, &:hover p{
        font-weight: bold;
    }
}

@media (min-width: v.$xs-breakpoint) {
    .languagesList-2{
        grid-template-columns: repeat(5, 1fr);
    }

}
@media (min-width: v.$sm-breakpoint) {
    .languagesList-2{
        grid-template-columns: repeat(8, 1fr);
    }
    .languagesList-1{
        grid-template-columns: repeat(8, 1fr);
    }

}