@use "reset";
@use "variables" as v;

.languagesList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.language{
    flex: 1;
    caret-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 5rem;
        opacity: 0.5;
    }
    label, .img{
        cursor: pointer;
        text-align: center;
    }
    input{
        display: none;
    }
    .img{
        padding: 1rem;
        border-radius: 5rem;
        overflow: hidden;
        transition: all 100ms;
        &:active{
            transform: scale(0.9);
        }
    }
    &:has(label:active) .img{
        transform: scale(0.9);
    }
    &:has(input:checked) .img{
        background-color: v.$orange-light;
        img{
            opacity: 1;
            filter: drop-shadow(1px 3px 1px #222222);
        }
    }
    &:has(input:checked) label{
        font-weight: bold;
    }
}