@use "reset";
@use "variables" as v;

.project{
    display: flex;
    background-color: white;
    flex-direction: column;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.396);
    position: relative;
    border-radius: 1rem;
    transition: all 500ms;
    &:hover{
      box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.575);
    }
    .container{
      flex: 1;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    .icon{
      position: absolute;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-radius: 100%;
      z-index: 1;
      top: 2rem;
      left: 2rem;
  
      transition: all 200ms;
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
      &:active{
        transform: scale(1);
      }
    }
    .nut{
      background-color:  v.$color-green-dark;
      box-shadow: 0px 2px 0px 1px #1e9c41;
    }
    .plant{
      background-color:  v.$color-green;
      box-shadow: 0px 2px 0px 1px v.$color-green-dark;
    }
    .tree{
      background-color:  v.$primary-color;
      box-shadow: 0px 2px 0px 1px rgb(198, 82, 39);
    }.user-actions{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        right: 2rem;
        top: 2rem;
        opacity: 0;
        transition: all ease-in-out 300ms;
        .action-icon{
          filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.396));
          transition: all 200ms;
          &:hover{
            cursor: pointer;
            transform: scale(1.1);
          }
          &:active{
            transform: scale(1);
          }
        }
        .favorites, .likes{
          color: white;
        }
        .favorites:hover {
          color: #FFC702;
        }
        .likes:hover {
          color: #FF0000;
        }
        .full{
          &.favorites{
            color: #FFC702;
          }
          &.likes{
            color: #FF0000;
          }
        }
      }
      &:hover .user-actions{
        opacity: 1;
      }
    .project-body{
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      .project-title:hover{
        cursor: pointer;
      }
      .project-creator{
        width: 100%;     
        display: flex;
        justify-content: flex-end;
        div{
          display: flex;
          align-items: center;
          gap: 0.5rem;
          p, .user-icon{
            width: fit-content;
            text-decoration: underline;
            color: #8C8C8C;
            transition: all 200ms;
          }
          &:hover p, &:hover .user-icon{
            color: v.$color-green-dark;
            text-decoration-color: v.$color-green-dark;
          }
          &:hover{
            cursor: pointer;
          }
        }
      }
      .description{
        margin-top: 1rem;
      }
    }
    .project-img {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 40%;
      img{
        transition: all 500ms;
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &:hover{
        cursor: pointer;
      }
    }
  
    .bottom-row{
      display: flex;
      align-items: flex-end;
      gap: 1rem;
    }
  }


.progress{
    display: flex;
    align-items: center;
    font-weight: bold;
    .green{
        .ant-progress-text{
            
            font-size: 2rem;
        }
    }
    .orange{
        .ant-progress-text{
            color: v.$primary-color;
            font-size: 2rem;
        }
    }
    .white{
        .ant-progress-text{
            color: white;
            font-size: 2rem;
        } 
    }
}

@media (min-width: v.$sm-breakpoint){
    .project{
        width: 100%;
        .img{
          width: 100%;
          img{
            width: 100%;
          }
        }
        .icon{
          top: -1.5rem;
          left: -1.5rem;
        }
    }
}