* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(244, 113, 67, 1);
    text-align: center;
}

footer {
    background-color: rgba(244, 113, 67, 1);
    text-align: center;
}

